@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@700&family=Poppins&display=swap');

html , body{
    width: 100%;
    height: 100%;
}

*{
    font-family: "Assistant", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: #282C3F;
  }

.left img{
    width: 53px;
    height: 40px;
    cursor: pointer;
}

nav ul li{
    list-style-type: none;
    padding: 0px 20px;
    cursor: pointer;
}

.icon span{
    margin: 0px 20px;
    font-size: 28px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon{
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon span label{
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: 600;
}

.search{
    width: 350px;
    height: 25px;
    /* border-radius: 50px; */
    border: none;
    background: transparent;
    background-color: #F5F5F6;
}
  
