<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post">
        <label>Product name:- </label>
        <input type="text" name="name"><br>
        <label>Product price:- </label>
        <input type="number" name="price"><br>
        <label>Product description:- </label>
        <input type="text" name="desc"><br>
        <label>Product img_1:- </label>
        <input type="text" name="image1"><br>
        <label>Product img_2:- </label>
        <input type="text" name="image2"><br>
        <label>Product img_3:- </label>
        <input type="text" name="image3"><br>
        <label>Product img_4:- </label>
        <input type="text" name="image4"><br>
        <label>Product related_1:- </label>
        <input type="text" name="related1"><br>
        <label>Product related_2:- </label>
        <input type="text" name="related2"><br>
        <label>Product related_3:- </label>
        <input type="text" name="related3"><br>
        <label>Product related_4:- </label>
        <input type="text" name="related4"><br>
        <label>Category number:- </label>
        <input type="number" name="category_num"><br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>