<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="\css\style.css">
    <title>Documentss</title>
</head>
<body>
    <%- include('template\\header.ejs') %>
    <section class="trial">
    <div class="login-container">
        <h2>Login</h2>
        <form action="#" method="post">
            <input type="text1" name="username" placeholder="Username" required>
            <input type="password" name="password" placeholder="Password" required>
            <input type="submit">
        </form>
    </div>
</section>
</body>
</html>