<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="\css\style.css">
</head>
<body>
    <%- include('template\\header.ejs') %>


    <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-3 mt-5">
            <div class="card">
              <div class="card-header">
                Logout
              </div>
              <div class="card-body">
                <p>Are you sure you want to log out?</p>
                <form action="/logout" method="POST"> <!-- Replace "logout.php" with the actual logout endpoint -->
                  <button type="submit" class="btn btn-danger">Logout</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>


    <!-- <form action="/logout" method="post">
    <button type="submit">Logout</button>
    </form> -->
    
</body>
</html>