.lex{
    display: flex;
}

.cont{
    padding: 10px 5vw;
    margin: auto;
    position: sticky;
    z-index: 1;
}

header {
    position: sticky;
    
}

.item-center1{
    align-items: center;
    justify-content: center;
}


.justify-center1{
    justify-content: center;
}

.space-between1{
    justify-content: space-between;
}

.uppercase{
    text-transform: uppercase;
}

.mx-2{
    margin-left: 12px;
    margin-right: 12px;
}